{{define "content"}}{{template "header"}}
<script type="text/javascript">
	
	
		
        var sock = null;
        var wsuri = "ws://192.168.0.20:1234/room/i?room={{.Room}}&user={{.User}}";

        window.onload = function() {

            console.log("onload");

            sock = new WebSocket(wsuri);

            sock.onopen = function() {
                console.log("connected to " + wsuri);
            }

            sock.onclose = function(e) {
                console.log("connection closed (" + e.code + ")");
            }

            sock.onmessage = function(e) {
                //console.log("message received: " + e.data);
				
				var oTest = document.getElementById("testlog");
				
		
			
				
					var newNode = document.createElement("p");
					newNode.innerHTML = e.data;
					oTest.insertBefore(newNode,oTest.firstChild);
				
				
				
				
				
				var data = eval('(' +e.data + ")" );
			
				if (data.MType == "t" ){
					UserMsg(data);
				}
				
				if(data.MType == "s"){
						
					StatusMsg(data)
				}
				
				
				
            }
        };
		function UserMsg (data){
			var oTest = document.getElementById("meg_box");
			var newNode = document.createElement("p");
			newNode.innerHTML = "<span style='color:#666666;'>"+data.UserInfo.Name +"  "+data.Time+"</span><br/>" + data.Content;
			oTest.insertBefore(newNode,oTest.firstChild);
			
		}
		
		function StatusMsg (data){
			var oTest = document.getElementById("meg_box");
			var newNode = document.createElement("p");
			newNode.innerHTML = "<span style='color:#666666;'>  "+data.Time+"</span>" + data.Content;
			oTest.insertBefore(newNode,oTest.firstChild);
			
			html = ""
			for(x in data.OnlineUsers){
				html+="<li>"+ x + "[在线]</li>";
				
			}
			$("#onlineuser").html(html);
		}
        function send() {
            var msg = $("#message").val();
			if(msg ==""){
				return false;
			}
			$("#message").val("");
            sock.send(msg);
        };
    </script>
<p>

<table>
<tr>
<td valign="top" >
<div id="meg_box" style="border:1px solid #000;width:400px;height:200px;overflow:auto;float:left;" ></div>
</td>
<td valign="top">
在线用户
<div id="onlineuser" style="width:200px;">

</div>
</td>

</tr>

</table>
</p>
<p>
<input type="text" value="" id="message"  > <input type="button" onclick="send()" value="发送">
</p>
<p1>测试日志</p1>
<div id="testlog"></div>

{{template "footer"}}
{{end}}